/lab1/*
!/lab1/.config
!/lab1/initrd.cpio.gz
!/lab1/bzImage
!/lab1/syscall
/lab1/syscall/initrd.cpio.gz
/**/.DS_Store
/**/.vscode
/**/*.dSYM
/**/*.out
/lab2/shell/obj
/lab2/shell/bin
/lab2/shell/debug
/lab2/strace/*
!/lab2/strace/Makefile
!/lab2/strace/strace.cpp
/lab3/*
!/lab3/chat_room_server
/lab3/chat_room_server/target/
!/lab3/README.md
